body {
  background-color: #623B5A;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.human-side, .computer-side {
  background-color: #89608E;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.token {
  font-size: 30px;
  margin-top: 30px;
}

.game-play-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 100vh;
  background-image: url("scissors-opaque.png");
  background-repeat: no-repeat;
  background-position: top-right;
  background-size: cover;
}

.rules-box {
  color: #white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6A4A6D;
  padding: 16px;
  margin: 15px;
  width: 300px;
}

p {
  color: white;
  display: block;
  white-space: pre-line;
  width: auto;
  text-align: center;
  margin: 0;
}

h1 {
  color: white;
  font-size: 66px;
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  color: white;
  font-size: 24px;
  margin:10px;
}

h3 {
  color: white;
  font-size: 20px;
  margin: 0;
}

.fighter-choices {
  height: 160px;
  width: 160px;
  margin: 24px;
}

.change-game-button {
  color: white;
  background-color: #623B5A;
  border: none;
  font-family: monospace;
  margin-top: 36px;
  padding: 10px;
}

.rules-box:hover {
  background-color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.rules-box:hover > h3, .rules-box:hover > p {
  color: #623B5A;
}

.fighter-choices, .change-game-button:hover  {
  cursor: pointer;
}

.change-game-button:hover {
  background-color: white;
  color: #623B5A;
}

.hidden {
  display: none!important;
}
